name: Scheduled Test

on:
  schedule:
    - cron: '30 */12 * * *' 
  workflow_dispatch:  # Optional: allows manual runs

jobs:
  uv-example:
    name: python
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - name: Sync project (install deps)
        run: uv sync --locked

      - name: Run script
        run: uv run python main.py

      - name: Commit and push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add mu_prices.csv mu_prices_plot.png
          git commit -m "Update stock prices" || exit 0
          git push
